body{
    background-color: rgb(34, 34, 34);
    justify-content: center;
    align-items: center;

}
.container{
    justify-content: center;
    align-items: center;
}

.headerContenedor{
    display:flex ;
    flex-wrap:wrap;
    background-color: rgba(3, 3, 3, 0.479);
    color: beige;
    height: 5rem;
    width: auto;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    -webkit-box-shadow: 0px 8px 39px -7px rgba(0,0,0,1);
    -moz-box-shadow: 0px 8px 39px -7px rgba(0,0,0,1);
    box-shadow: 0px 8px 39px -7px rgba(0,0,0,1);
    background: linear-gradient(144deg, #af40ff,#5b42f3 50%, #00ddeb)
}
.registerContenedor{
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 3rem;
    background-color: rgba(3, 3, 3, 0.479);
    color: beige;
    height: 25rem;
    width: 20rem;
    border-radius: 50px;
    justify-content: space-evenly;
    -webkit-box-shadow: 0px 8px 39px -7px rgba(0,0,0,1);
    -moz-box-shadow: 0px 8px 39px -7px rgba(0,0,0,1);
    box-shadow: 0px 8px 39px -7px rgba(0,0,0,1);
    transition: 1s;
    background: linear-gradient(144deg, #af40ff,#5b42f3 50%, #00ddeb)
}
.registerUserL{
    font-size: 3rem;
    color: #202020;
    background-color: rgba(255, 255, 255, 0.301);
    padding: 1rem;
    border-radius: 50px;
    -webkit-box-shadow: 0px 8px 39px -7px rgba(0,0,0,1);
    -moz-box-shadow: 0px 8px 39px -7px rgba(0,0,0,1);
    box-shadow: 0px 8px 39px -7px rgba(0,0,0,1);
    
}
.registerContenedor:hover{
    transition: 1s;
    -webkit-box-shadow: 0px 0px 79px 17px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 79px 17px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 79px 17px rgba(0,0,0,0.6);
}
.contenedorA{
    text-decoration: none;
    color: inherit; 
    cursor: pointer; 
    background-color: rgba(240, 238, 238, 0.158);
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 50px;
    transition: 1s;
}
.contenedorA:hover{
    transition: 1s;
    -webkit-box-shadow: inset 0px 0px 48px -18px rgba(255,255,255,0.63);
    -moz-box-shadow: inset 0px 0px 48px -18px rgba(255,255,255,0.63);
    box-shadow: inset 0px 0px 48px -18px rgba(255,255,255,0.63);
}
.contenedorB{
    border: none;
    padding: 40px;
    padding-left: 50px;
    border: none; 
    outline: none;
    background-color: rgba(245, 242, 255, 0.767); 
    padding: 10px; 
    border-radius: 20px; 
    box-shadow: 0 0 10px rgba(26, 25, 25, 0.747); 
    transition: 1s;
    margin: 10px;

}
.contenedorB:hover{
    transition: 1s;
    -webkit-box-shadow: 0px 0px 52px -14px rgba(255,255,255,0.63);
    -moz-box-shadow: 0px 0px 52px -14px rgba(255,255,255,0.63);
    box-shadow: 0px 0px 52px -14px rgba(255,255,255,0.63);
    
    
}
.headerLogo{
    width: 4rem;
}

.contenedorBt{
    border: none;
    outline: none;
    width: 189px;
    background-color: rgba(245, 242, 255, 0.767); 
    padding: 10px; 
    border-radius: 20px; 
    box-shadow: 0 0 10px rgba(26, 25, 25, 0.747); 
    transition: 1s;
    margin: 10px;
}
.contenedorBt:hover{
    -webkit-box-shadow: 0px 0px 76px -4px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 76px -4px rgba(0,0,0,1);
    box-shadow: 0px 0px 76px -4px rgba(0,0,0,1);
}
.formRegister{
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/*  */
/* .spinner { */
    /* width: 60px; */
    /* height: 60px; */
    /* border-radius: 50%; */
    /* border: 8px solid transparent; */
    /* border-top-color: #ff5722; */
    /* animation: spin 1s linear infinite; */
/* } */
/*  */
/* @keyframes spin { */
    /* to { */
        /* transform: rotate(360deg); */
    /* } */
/* } */

/* HTML: <div class="loader"></div> */
.spinner {    
    --r1: 154%;
    --r2: 68.5%;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%; 
    background:
      radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#269af2 80%),
      radial-gradient(var(--r1) var(--r2) at bottom,#269af2 79.5%,#0000 80%),
      radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#269af2 80%),
      #ccc;
    background-size: 50.5% 220%;
    background-position: -100% 0%,0% 0%,100% 0%;
    background-repeat:no-repeat;
    animation: l9 2s infinite linear;
  }
  @keyframes l9 {
      33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
      66%  {background-position: -100%  66%,0%   66% ,100% 66% }
      100% {background-position:    0% 100%,100% 100%,200% 100%}
  }





